<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{- '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>
    <a href="{{ site.social.links[0] }}">
      <span data-i18n-en="Jinjun Zeng" data-i18n-zh="曾锦均">Jinjun Zeng</span>
    </a>.
    <span data-i18n-en="Some rights reserved." data-i18n-zh="保留部分权利。">Some rights reserved.</span>
  </p>
</footer>

<script src="{{ '/assets/js/lang-switch.js' | relative_url }}"></script>
